<ion-content class="welcome-screen">
  <div class="background-overlay"></div>
  <div class="animated-waves"></div>
  
  <div class="content-container">
    <div class="header-accent"></div>
    
    <div class="title-container">
      <div class="location-indicator">
        <span>🇵🇹</span>
      </div>
      <h1 class="main-title">Póvoa de Varzim</h1>
      <h2 class="subtitle">É bom <span class="highlight">VIVER</span> aqui!</h2>
    </div>
    
    <div class="features-container">
      <div class="feature-item">
        <ion-icon name="sunny-outline"></ion-icon>
        <span>Praias</span>
      </div>
      <div class="feature-item">
        <ion-icon name="restaurant-outline"></ion-icon>
        <span>Gastronomia</span>
      </div>
      <div class="feature-item">
        <ion-icon name="boat-outline"></ion-icon>
        <span>Tradição</span>
      </div>
    </div>
    
    <div class="button-container">
      <div class="custom-button" (click)="explorarCidade()">
        Explorar a cidade
      </div>
      <p class="discover-text">Descubra o que a cidade tem para oferecer</p>
    </div>
  </div>
  
  <div class="social-links">
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-twitter"></ion-icon>
  </div>
</ion-content>
